/*general text formatting*/
body {
  font-family:"Roboto", sans-serif;;
  color: black;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: black;
  font-weight: 700;
  font-style: normal;
}
p {
  padding-left: 0px;
  padding-right: 20px;
  margin:0;
}
/*properties to ensure that the proper elements are positioned or revealed properly*/
.centered {
  text-align: center;
  width: 100%;
}
.hidden {
  display: none;
}
/*table formatting*/
table, tr {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #ffcd00;
  padding: 5px;
  text-align: center;
  
}
td {
  padding: 10px;
  border-bottom: 3px dotted #000;
}
.name-field {
  text-align: left;
  color: #014a85;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.name-field:hover{
  cursor: pointer;
  text-decoration: underline;
}

/*formats the count total and postition next to the svg file*/
.standard *{
  border: 0;
  padding:0px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
}

 /*properties for the navigation bar at the top of the page */
/* nav ul, li {
  display: flex;
} */

.navigationInLine{
  display: flex;
  flex-direction: row;
  height: fit-content;
} 
.fix_top_margin {
  margin-top: 1.5rem !important;
}
.navBarPadding{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.positionInRow {
  display: flex;
  flex-direction: row;
  float: left;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 0 !important;
  padding-left: 0px;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nav--li {
  margin: 0 !important;
  padding: 0 !important;
} 

/*dictates properties of table scrollbars and the navigation bar at various screen widths*/
@media all and (max-width: 800px) {
  /* .positionInRow {
    justify-content: space-around;
  } */
}
@media all and (max-width: 510px) {
  .positionInRow {
    flex-direction: column;
    width: 100%;
  } 
  .nav--li{
    margin: 1rem;
  }
  .container2{
    flex-shrink: 0;
    overflow: auto;
  }
}
@media all and (max-width: 293px) {
  input[type=text]{
    size:"20";
  }
}

.scrollable_table {
  background-color: white;
  margin-bottom: 0rem !important;
  overflow-x: auto;
  display: flex;
  width:100%;
}
/* @media all and (max-width: 1050px) {
  div.scrollable_table {
    display: flex;
    width: 100%;
    

  }
} */
.spaced_out{
  justify-content: space-around;
  width: 100%; 
  
}
/*flex properties of the container divs*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px;
}
.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left; 
  margin-top: 10px;
  width: 100%;
}
/*properties of the buttons */
.button {
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: medium;
  font-style: normal;
  border: 0;
  width:fit-content;
  color: black;
}
.button:hover {
  cursor: pointer;
}
.standard_button {
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  font-style: normal;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
}



/*formatting for the stick content*/
.sticky {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0rem;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 5;
}
.parent_sticky {
  position: -webkit-sticky;
  position: sticky;
  /* top: -3em; */
}
/* .parent_content {
  
   height: 3em;} */
/*formatting for the Course Request form, predominatly aimed at making sure the 
spacing between the text and input sections are separated in-line*/
form {
  float: left;
  display: flex;
  flex-direction: column;
}
label {
  padding-bottom: 5px;
}
input[type=text], input[type=file], input[type=department]{
  margin-left: 10px;
} 
select{ 
  margin-left: 10px;
} 
/*"Submit Request" button formatting */
input[type=submit]{
  width:fit-content;
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  font-style: normal;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: black;
}

.accordion_button .wysiwyg {
  transition-timing-function: ease-in-out;
  display: none;
}


.saved_course_button {
  position: relative;
  right:0px;
  top:0px;
  max-height: 15px;
  margin-top: 4px;
}

.full{
  width: 100%;
  text-align: right !important; 
  /* margin-bottom: 0rem;
  margin: 0;
  padding: none; */
}

.acordion_button-text {
  position: relative;
  left:0px;
  top:0px;
}

.right_pos{
  position: relative;
}
.left_pos{
  float: left;
}

.single_line{
  align-content: right;
}
 
.fix_align {
  text-align: right;

} 

.fix_count_size {
  font-size: large;
  font-weight: 600;
}

.no_bottom_margin{
  margin-bottom: 0rem;
}

.general-page-max__content {

  max-width: 1200px !important;

}

.backgroundFormatting{
  background-color: white;
}