/*general text formatting*/
body {
  font-family:"Roboto", sans-serif;;
  color: black;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
}
h1 {
  color: black;
  font-weight: 700;
  font-style: normal;
}
p {
  padding-left: 0px;
  padding-right: 20px;
  margin:0;
}
/*properties to ensure that the proper elements are positioned or revealed properly*/
.centered {
  text-align: center;
  width: 100%;
}
.hidden {
  display: none;
}
/*table formatting*/
table, tr {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #ffcd00;
  padding: 5px;
  text-align: center;
  border-color: #ffcd00;
}
td {
  padding: 10px;
  border-bottom: 3px dotted #000;
}
.name-field {
  text-align: left;
  color: #014a85;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.name-field:hover{
  cursor: pointer;
  text-decoration: underline;
}

/*formats the count total and postition next to the svg file*/
.standard *{
  border: 0;
  padding:0px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
}

 /*properties for the navigation bar at the top of the page */
nav ul, li, a {
  display: flex;
  display: block;
}

.navRow {
  flex-direction: row;
  float: left;
}

  

/*dictates properties of table scrollbars and the navigation bar at various screen widths*/
@media all and (max-width: 800px) {
  nav li {
    justify-content: space-around;
    
  }
}
@media all and (max-width: 550px) {
  nav li {
    flex-direction: column;
    width: 100%;
  }
  .container2{
    flex-shrink: 0;
    overflow: auto;

  }
  div.scrollable_table {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }
}
/*flex properties of the container divs*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}
.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left; 
  margin-top: 10px;
  width: 100%;
}
/*properties of the buttons */
.button {
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: medium;
  font-style: normal;
  border: 0;
  width:fit-content;
  color: black;
}
.button:hover {
  cursor: pointer;
}
.standard_button {
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  font-style: normal;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
}
/*formatting for the specific "Saved Courses" button*/
.course_button {
  width: 100%;
  background-color: #ffcd00;
  text-align: left;
  padding-left: 20px;
  border: 0;
  
}
.course_button_text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;  

}
.course_button_icon {
  position: absolute;
  right:0px;
  top:0px;
}
div.sticky {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  border: 5px solid #ffcd00;
}
/*formatting for the Course Request form, predominatly aimed at making sure the 
spacing between the text and input sections are separated in-line*/
form {
  float: left;
  display: flex;
  flex-direction: column;
}
label {
  padding-bottom: 5px;
}
input[type=text], input[type=file], input[type=department]{
  margin-left: 10px;
} 
select{ 
  margin-left: 10px;
} 
/*"Submit Request" button formatting */
input[type=submit]{
  width:fit-content;
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  font-style: normal;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: black;
}

